/* line 2, ../compass/scss/enhanced/_base.scss */
.form-wrapper input {
  width: 90%;
  margin: 0 auto 2em;
}

/* line 7, ../compass/scss/enhanced/_base.scss */
#submit {
  width: 14em;
  margin: auto;
}

/* line 11, ../compass/scss/enhanced/_base.scss */
.submit-wrapper {
  position: relative;
}

/* line 14, ../compass/scss/enhanced/_base.scss */
.ajax-loader {
  position: absolute;
  margin-left: 10px !important;
  margin-top: 26px;
}
